:local(.scoped) {
  .gains-title {
    /* margin-left: 20px; */
    @apply mt-8 font-medium text-text_color_01 mb-4;

    font-size: 22px;
    line-height: 34px;

    svg {
      font-size: 32px;
      @apply mr-2;
    }
  }
}

:local(.chart-tooltip) {
  @apply bg-bg_color_02 w-24 py-2 px-3 rounded text-button_text_01 border-none;

  > :first-child {
    @apply text-sm font-medium;
  }

  > :last-child {
    @apply text-xs;
  }
}
