
 


body {
  /* 基色 对应--or-05 */
  --primary-6: 1, 188, 148, 1;

  /* 悬浮 对应--or-06 */
  --primary-5: 38, 201, 160, 1 ;

  /* 点击 对应--or-04 */
  --primary-7: 5, 133, 105, 1;

  /* 特殊场景 对应--or-07 */
  --primary-4: 79, 215, 176, 1;
  
  /* 一般禁用 对应--or-08 */
  --primary-3: 2, 116, 91, 1;
  
  /* 文字禁用 对应--or-10 */
  --primary-2: 5, 133, 105, 1;
  
  /* 浅色背景 对应--or-10 */
  --primary-1: 5, 133, 105, 1;

  /* 强调/正文标题 对应--nc-01 */
  --color-text-1: rgb(255 255 255 / 100%);

  /* 文字/次要信息 对应--nc-06 */
  --color-text-3: rgb(114 120 126 / 100%);
  
  /* 文字禁用 对应--nc-07 */
  --color-text-4: rgb(90 98 107 / 100%);

  /* 描边色 按钮禁用 对应--nc-08 */
  --color-border-1: rgb(60 70 81 / 100%);
  
  /* 重/按钮描边 对应--nc-08 */
  --color-border-4: rgb(60 70 81 / 100%);
  
  /* 描边 对应--nc-08 */
  --color-border-6: rgb(60 70 81 / 100%);
  --color-neutral-3: rgb(60 70 81 / 100%);

  /* 分割线  对应--nc-09 */
  --color-border-5: rgb(48 55 63 / 100%);

  /* 浅/禁用 对应--nc-08 */
  --color-fill-1: rgb(60 70 81 / 100%);
  
  /* 填充色  对应--nc-12 */
  --color-fill-2: rgb(26 31 36/ 100%);
  
  /* 填充色 - 图标 对应--nc-05 */
  --color-fill-6: rgb(133 139 147 / 100%);

  /* 全局背景色 对应--nc-12 */
  --color-bg-1: rgb(26 31 36 / 100%);

  /* 卡片前景色 对应--nc-10 */
  --color-bg-2: rgb(48 55 63 / 100%);
  
  /* 输入框/搜索框 对应--nc-09 */
  --color-bg-3: rgb(48 55 63 / 100%);

  /* 卡片背景色 对应--nc-11 */
  --color-bg-4: rgb(61 68 76 / 100%);
  
  /* 卡片背景色 对应--nc-15 */

  --color-bg-5: rgb(33 40 49 / 100%);

  /* 特殊背景色 对应--nc-16 */
  --color-bg-6: rgb(33 40 49 / 20%);
  
  /* 警示色常规 对应--rd-05 */
  --warning-6: 255, 125, 125, 1;
  --danger-6: 255, 125, 125, 1;
  --sell-down-6: 255, 125, 125, 1;
  
  /* 警示色悬浮 对应--rd-06 */
  --warning-5: 255, 150, 146, 1;
  --danger-5: 255, 150, 146, 1;
  --sell-down-5: 255, 150, 146, 1;

  /* 警示色点击 对应--rd-04 */
  --warning-7: 210, 77, 82, 1;
  --danger-7: 210, 77, 82, 1;
  --sell-down-7: 210, 77, 82, 1;

  /* 警示色特殊场景 对应--rd-07 */
  --warning-4: 255, 174, 168, 1;
  --danger-4: 255, 174, 168, 1;
  --sell-down-4: 255, 174, 168, 1;

  /* 警示色禁用 对应--rd-08 */
  --warning-3: 255, 196, 189, 1;
  --danger-3: 255, 196, 189, 1;
  --sell-down-3: 255, 196, 189, 1;

  /* 浅色背景 对应--rd-10 */
  --warning-1: 121, 15, 25, 1;
  --danger-1: 121, 15, 25, 1;
  --sell-down-2: 121, 15, 25, 1;

  /* 成功背景 对应--gr-05 */
  --success-6: 1, 188, 148, 1;
  --buy-up-6: 1, 188, 148, 1;
  
  /* 成功悬浮 对应--gr-06 */
  --success-5: 38, 201, 160, 1;
  --buy-up-5: 38, 201, 160, 1;
  
  /* 成功点击 对应--gr-04 */
  --success-7: 5, 133, 105, 1;
  --buy-up-7: 5, 133, 105, 1;
  
  /* 成功特殊场景 对应--gr-07 */
  --success-4: 79, 215, 176, 1;
  --buy-up-1: 79, 215, 176, 1;

  /* 成功一般禁用 对应--gr-08 */
  --success-3: 2, 116, 91, 1;
  --buy-up-3: 2, 116, 91, 1;
  
  /* 成功浅色背景 对应--gr-10 */
  --success-2: 5, 133, 105, 1;
  --buy-up-2: 5, 133, 105, 1;
  
  /* 提示常规 对应--or-05 */
  --tips-6: 1, 188, 148, 1;

  /* 提示悬浮 对应--or-06 */
  --tips-5: 38, 201, 160, 1;
  
  /* 提示点击 对应--or-04 */
  --tips-7: 5, 133, 105, 1;
  
  /* 提示特殊场景 对应--or-07 */
  --tips-4: 79, 215, 176, 1;
  
  /* 提示一般禁用 对应--or-08 */
  --tips-3: 2, 116, 91, 1;
  
  /* 提示浅色背景 对应--or-10 */
  --tips-2: 5, 133, 105, 1;

}